#logo{
width:90px;
height: 40px;
}
.options_pan{
    font-size: 20px;
    color:antiquewhite;
    font-family: Arial;
}
.travel_mainDiv{
    border:1px solid lightgrey;
}
.travel_mainDiv h5 , .travel_mainDiv p{
    margin:20px;
}
section{
    background-color: aliceblue;
}
#colegio{
    text-align: center;
}
.cc{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.cc i{
    float: right;
}
.conquista-text span{
    color:rgb(250, 185, 6)
}